.background    { background: rgb(128, 128, 128);
                 table-layout: fixed;
                 border-spacing: 0;   }
.background td { padding: 0;          }
.lava          { background: rgb(50, 250, 100); }
.wall          { background: black;   }
.floater       { background: white;   }
.game {
  overflow: hidden;
  max-width: 600px;
  max-height: 450px;
  position: relative;
}
